.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridContainer {
  display: flex;
  padding-left: 8%;
}

.gridChild {
  flex: 1;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  margin-left: 10px;
}